---
const { pageContent } = Astro.props;
let html = `<section id="contact" class="section marketing-section"><div class="content-wrapper"><div class="marketing-content-wrapper"><div data-w-id="64ce2429-cea4-6c8d-d3b2-6c8aab910aa8" style="opacity: 1;" class="marketing-text"><div class="marketing-text-wrapper"><h2 class="marketing-heading">__CTA_HEADING__</h2><p class="pure-text">__CTA_TEXT__</p></div><a data-w-id="31b44076-9e9e-e074-a942-d52bc90dfd3a" href="/#contact" class="secondary-button w-inline-block"><div class="button-text">__CTA_BUTTON__</div><img src="/template_files/6759814e92ecf4abb58bb0a7_right-arrow-pure.svg" loading="eager" alt="Right Arrow Icon" class="button-arrow"></a></div><div data-w-id="64ce2429-cea4-6c8d-d3b2-6c8aab910aab" style="opacity: 1;" class="marketing-image-wrapper"><img src="/template_files/676054ce8f4a1628b9ea9c50_marketing.jpg" loading="eager" alt="Marketing Image" class="marketing-image"></div></div></div></section>`;
html = html.replace('__CTA_HEADING__', pageContent?.cta_heading);
html = html.replace('__CTA_TEXT__', pageContent?.cta_text);
html = html.replace('__CTA_BUTTON__', pageContent?.cta_button);
---
<Fragment set:html={html} />
