---
import PageNotFound from "../components/PageNotFound.jsx";
import STRINGS from '../config/strings';
const s = STRINGS;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{s.notFoundTitle}</title>
    <link href="/favicon.svg" rel="shortcut icon" type="image/x-icon">
  </head>
  <body>
    <div role="alert">
      <PageNotFound client:load />
    </div>
  </body>
</html>
