---
import PageNotFound from "../components/PageNotFound.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Page Not Found — VIPER Security</title>
    <link href="/template_files/chauffure.webflow.5728f95f4.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <PageNotFound client:load />
  </body>
</html>
